body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 14px;
  }

  #cy {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
  }

  #buttons {
    position: absolute; 
    right: 0;
    top: 0; 
    z-index: 99999;
    margin: 1em;
  }

  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 99999;
  }

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 99999;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99999;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
  }
  .dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .dropdown-content li {
    padding: 8px 16px;
    cursor: pointer;
  }
  .dropdown-content li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-content input[type="checkbox"] {
    margin-right: 10px;
  }
  .show {
    display: block;
  }
